

.image-goes {
  width: 200px !important;
  height: 200px !important;
  border-radius: 50% !important;
}

.search-bar {
  width: 60% !important;
}

.chat-btn {
  top: 25%;
}

.profile-bar {
  width: 30%;
}

.disabled-input {
  background-color: #DDDDDD !important;
}

.profile-container {
  margin-top: 10%;
  margin-left: 10%;
}

.input-nav {
  margin-top: 200px;
}

.text-btn {
  border-right-color: teal !important;
  border-right-style: solid !important;
  border-right-width: 2px;
  padding-right:5px;
}

.lang-btn {
  margin-left: 80% !important;
}

.chakra-select__wrapper{
  width:50% !important;
}

.round-btn {
  border-radius: 50% !important;
  margin-left: 70%;
}

.chat-name {
  margin-top: 3%
}

.name-box {
  padding: 3%;
  border-width: 3px;
}

.chat-box {
  border-width: 1.5px;
}

.message-box {
  padding: 3%
}

.sender-message {
  /* border-width: 2px;
  border-radius: 10%;
  padding: 5px; */
  background-color: #D4E2D4;
  padding: 10px;
  border-radius: 25px;
  max-width: 80%;
}

.partner-message {
  padding: 10px;
  border-radius: 25px;
  min-width: 30%;
  color: #FCF8E8;
  background-color: #94B49F;
}

.message-container {
  justify-content: end;
  align-items: center;
}